<div class="lookbook-gallery">
    <h2 class="look-hed">Reportes de la empresa </h2>
    <div class="lookbook-grid" role="region">
      <figure class="model" *ngFor="let photo of filteredPhotos">
        <img [src]="photo.url" alt="Foto" />
        <figcaption class="model--caption">
          <table class="zigzag">
            <tbody>
              <tr>
                <td>{{ photo.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ photo.title }}</td>
                <td>{{ photo.team}}</td>
                <td class="status">{{ photo.isActive ?  'Activo' : 'Inactivo' }}</td>
              </tr>
            </tbody>
          </table>
          
          <p class="alert">
            {{ photo.description }}
          </p>
          
          <div class="button-group">
            <button class="details-btn">Ver detalles</button>
            <button class="delete-btn" (click)="deletePhoto(photo.id)">Eliminar</button>
          </div>
        </figcaption>
      </figure>
    </div>

  </div>
  